<form class="search-form__container" novalidate="">
    <input class="search-form__input" type="text" placeholder="Procure o que deseja" required="" autocomplete="off">
    <button type="submit" class="search-form__button">
        {{> legend/views/partials/search}}
    </button>
</form>